* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
}
.navbar {
  padding: 2% 6%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo,
.signin,
.logo a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  gap: 20px;
  text-decoration: none;
}

.logo img {
  width: 50px;
  height: 50px;
}

.logo h2 {
  font-size: 24px;
}

.signin img {
  height: 40px;
  width: 40px;
}

.signin h2 {
  font-size: 18px;
}

form {
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 6px;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

input {
  background-color: transparent;
  border: none;
  color: #fff;
  width: 100%;
  outline: none;
  border: none;
}

input::placeholder {
  color: #fff;
}

form button {
  background: transparent;
  outline: none;
  border: none;
}
.banner-details {
  padding-left: 6%;
  padding-top: 150px;
  width: 50%;
}

.banner-details h2 {
  color: #fff;
  font-size: 48px;
  font-family: "DM Sans", sans-serif;
}

.banner-overview {
  color: #fff;
  font-size: 18px;
  padding-bottom: 30px;
}
.banner-details button,
.banner-btn-section a {
  padding: 10px 20px;
  background-color: #be123c;
  border: none;
  color: #fff;
  text-transform: uppercase;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  text-decoration: none;
  width: 230px;
}

.banner-btn .icon {
  font-size: 24px;
}
.imdb,
.imdb-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}
.imbd-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  color: #fff;
  padding: 20px 0px;
}

.imbd-btn-two {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  color: #fff;
  padding: 20px 0px;
}

.imdb img {
  width: 50px;
  height: auto;
}

.imdb-card img {
  width: 100%;
  height: 20px;
}

.imdb-card .imbd-btn-two {
  width: 20px;
}

.imdb-card p {
  color: #000;
  font-size: 12px;
}

.imbd-btn-two img {
  width: 30px;
}

.featured {
  padding: 6%;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.title h2 {
  font-size: 36px;
}

.title a {
  color: #be123c;
  font-weight: 600;
  text-decoration: none;
  font-size: 18px;
}

.movie-grid,
.search-page {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.search-page {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.searchText {
  padding-top: 6%;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 0%;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-page {
  margin: 10px;
}

.movie-card {
  flex-basis: calc(25% - 20px);
  margin-bottom: 20px;
  position: relative;
  margin-top: 40px;
}

#movies h2 {
  width: 300px;
}
.movie-card .heart-filled,
.movie-card .heart {
  font-size: 20px;
  color: #fff;
}

.movie-card span {
  background-color: #f3f4f66c;
  border-radius: 100%;
  position: absolute;
  right: 30px;
  top: 20px;
  height: 30px;
  width: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
}

#movies h2 {
  font-size: 18px;
  color: #111827;
  margin-top: 20px;
}

.genre,
.release {
  color: #9ca3af;
  font-size: 12px;
  font-weight: 600;
}

.social,
.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

a {
  text-decoration: none;
}

.social a,
.links a {
  color: #000;
  text-decoration: none;
  margin-top: 20px;
  font-weight: bold;
}

.social a {
  font-size: 24px;
}

.copy {
  margin-top: 30px;
  color: #6b7280;
  padding-bottom: 50px;
}

.movie-inner {
  padding-left: 6%;
  padding-top: 6%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.movie-inner .icon {
  font-size: 84px;
  height: 80px;
  background-color: transparent;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.movie-inner a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  color: #fff;
  font-weight: bold;
}

.movie-details {
  padding: 6%;
}

.movie-details h2 {
  font-size: 48px;
  font-weight: bold;
  color: #be123c;
}

.movie-details p {
  margin-top: 20px;
}

.loading {
  height: 100vh;
  background-color: #111827;
  color: #be123c;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.loading p {
  padding-top: 10%;
  font-size: 34px;
  font-weight: 600;
}

.search {
  background-color: #111827;
}

@media screen and (max-width: 968px) {
  .navbar {
    padding: 2% 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo,
  .signin,
  .logo a {
    gap: 10px;
    text-decoration: none;
  }

  .logo img,
  .signin img {
    width: 30px;
    height: 30px;
  }

  .logo h2,
  .signin h2 {
    font-size: 14px;
    display: none;
  }

  form {
    padding: 10px;
    border-radius: 6px;
    width: 70%;
  }

  .banner-details h2 {
    color: #fff;
    font-size: 28px;
    font-family: "DM Sans", sans-serif;
  }

  .banner-overview {
    font-size: 14px;
  }
  .banner-details button,
  .banner-btn-section a {
    padding: 10px;
    gap: 10px;
    font-size: 13px;
    text-decoration: none;
    width: 170px;
  }

  .banner-details {
    width: 80%;
  }

  .title {
    padding-bottom: 0px;
  }
  .title h2 {
    font-size: 24px;
  }

  .social,
  .links {
    gap: 10px;
    font-size: 12px;
  }

  .copy {
    font-size: 14px;
  }

  .movie-inner {
    padding-top: 150px;
  }
  .movie-inner .icon {
    font-size: 54px;
  }

  .movie-inner a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
  }

  .movie-details h2 {
    font-size: 28px;
  }
}
